footer
    display: flex
    flex-direction: row
    background-color: #f5f6f8
    height: 150px
    justify-content: space-around
    align-items: center
    width: 100%
    padding: 0 165px
    > img
        width: 55px
        height: 55px
    > ul
        column-count: 3
        color: inherit
        width: 50%
        > li
            > a
                color: hsl(201, 11%, 66%)
                &:hover
                    color: hsl(171, 66%, 44%)

    .footer__icons
        gap: 20px
        .icon
            color: hsl(210, 10%, 33%)
            font-size: 24px
            cursor: pointer
            margin: 10px
            &:hover
                color: hsl(171, 66%, 44%)

@media (max-width: 426px)
    footer
        flex-direction: column
        justify-content: center
        height: 500px
        gap: 30px
        padding: 0
        >img
            width: 60px
            height: 60px
        >ul
            column-count: 1
            text-align: center
            padding: 0
            >li
                margin: 20px 0
                font-size: 1.1rem

        .footer__icons
            >.icon
                margin: 0 20px
