.blocText
    display: flex
    flex-direction: column
    justify-content: center
    width: 60%
    margin: auto
    line-height: 2

.center
    align-items: center
    text-align: center

.left
    align-items: flex-start
    text-align: left
