.blocText
    display: flex
    flex-direction: column
    justify-content: flex-start
    align-items: center
    max-width: 700px
    margin: auto
    &.lv-1
        h1
            text-wrap: nowrap
            line-height: 2
    &.lv-2
        h2
            line-height: 2
    &.lv-3
        h3
            line-height: 2
        p
            font-size: 1rem

.al-center
    align-items: center
    text-align: center

.al-left
    align-items: flex-start
    text-align: left
    margin: 0 0 50px 110px
    width: 320px
    line-height: 2

@media (max-width: 426px)
    .blocText
        width: 100%
        line-height: normal

    .al-left
        align-items: center
        text-align: center
        margin: 30px auto
